.wrapper {
	width: 966px;
	margin: 0 auto;
}
a{
	text-decoration: none;
	color: grey;
}
header{
	margin: 25px 0;
}
header a {
	color:black;
	font-size: 50px;
}
nav{
	height: 40px;


}

nav ul{
	list-style: none; /*убираем маркеры списка*/
  	background:#545454;  /*добавляем фон всему меню (заменив этот параметр, вы поменяете цвет всего меню)*/
  	height: 40px; /*задаем высоту*/
}

nav a {
	background:#545454; /*добавляем фон к пункту меню (заменив этот параметр, вы поменяете цвет всех пунктов меню)*/
    padding:0px 20px; /*добавляем отступ*/
  	font-family: arial; /*меняем шрифт*/
  	line-height:40px; /*ровняем меню по вертикали*/
  	display: block; 
  	color: #e4e4e4;
}
nav a:hover {
  background:#444444;/*добавляем эффект при наведении*/
}
nav li {
  float:left; /*Размещаем список горизонтально для реализации меню*/
}

aside {
	height: 680px;
	width: 210px;
	padding-top: 40px;
	float: left;
}

aside ul{
	list-style: none; /*убираем маркеры списка*/
  	background:#ffffff;  /*добавляем фон всему меню (заменив этот параметр, вы поменяете цвет всего меню)*/
  	height: 40px; /*задаем высоту*/
}

aside a {
	background:#ffffff; /*добавляем фон к пункту меню (заменив этот параметр, вы поменяете цвет всех пунктов меню)*/
    padding:10px 20px; /*добавляем отступ*/
  	font-family: arial; /*меняем шрифт*/
  	line-height:40px; /*ровняем меню по вертикали*/
  	display: block; 
  	color: #656363;
}
aside a:hover {
	padding:10px 30px;
}
main{
	height: 680px;
	width: 750px;
	float: right;
}
img{
	height: 250px;
	width: 450px;
	padding: 80px 0;
	display: block;
	margin: 0 auto;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
footer{
	background:#e1e1e1;
}
footer ul{
	list-style: none; /*убираем маркеры списка*/
  	/* background:#545454; */  /*добавляем фон всему меню (заменив этот параметр, вы поменяете цвет всего меню)*/
  	height: 40px; /*задаем высоту*/
  	float: left;
}

footer a {
	background:#e1e1e1; /*добавляем фон к пункту меню (заменив этот параметр, вы поменяете цвет всех пунктов меню)*/
    padding:0px 20px; /*добавляем отступ*/
  	font-family: arial; /*меняем шрифт*/
  	line-height:40px; /*ровняем меню по вертикали*/
  	display: block; 
  	color: #2c2c2c;
}
footer a:hover {
  text-decoration: underline;/*добавляем эффект при наведении*/
}
footer li {
  float:left; /*Размещаем список горизонтально для реализации меню*/
}
h3{
	float: right;
	line-height:40px;
	padding-right: 25px;
}