body{
	background: #ccc;
}
div{
	background: #fff;
	width: 600px;
	margin:0 auto;
	padding: 40px;
}

h1{
	text-align: center;
}
img{
	display:block; margin:0 auto;
}

span{
	display: block;
	padding-bottom: 10px;
}

.number {
	padding-bottom: 35px;
}